name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  HOME: '/home/runner/.config'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the code
      uses: actions/checkout@v3

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Install Additional packages - emulator
      run: sdkmanager emulator

    - name: Install additional packages - platform-tools
      run: sdkmanager platform-tools

    - name: Install libpulse
      run: sudo apt -y install libpulse-dev

    - name: Install and add user to kvm
      run: sudo apt-get update
    - run: sudo adduser $USER kvm
    - run: sudo chown $USER /dev/kvm

    - name: Install System Image
      run: sdkmanager --install 'system-images;android-30;google_apis_playstore;x86_64'

    - name: Create emulator
      run: echo "no" |
        avdmanager create avd -n TestAVD -k "system-images;android-30;google_apis_playstore;x86_64"

    - name: List of AVDs
      run: avdmanager list avds

    - name: List of emulator
      run: $ANDROID_HOME/emulator_emulator -list-avds

    - name: List of fdevices using adb devices
      run: adb devices

    - name: Launch Emulator
      run: |
        echo "STarting emulator and waiting for boot to complete..."
        $ANDROID_HOME/emulator/emulator -avd TestAVD -no-skin -no-audio -no-window &
        $ANDROID_HOME/platform-tools/adb wait-for-device
        echo "Emulator has finished booting"
        adb devices

    - name: Boot emulator
      run: adb shell getprop sys.boot_completed

    - name: Install App
      run: ./gradlew installDebug

    - name: Launch the app
      run: |
        sleep 3
        adb shell am start -n com.example.githubactionssampleproject3/com.example.githubactionssampleproject3.MainActivity

    - name: Get memory info of the app
      run: |
        sleep 3
        adb shell dumpsys meminfo com.example.githubactionssampleproject3

    
